#services{
    margin: 30px 150px 0 150px;
}
#services h1{
    text-align: center;
}
#services p{
    text-align: center;
    font-size: 19px;
}
.service-card-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d5e1ed;
    width: 300px;
    padding: 15px;
}
.service-icon-box{
    margin-top: 60px;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    background-color: #d5e1ed;
    border: 1px #d5e1ed;
}
.service-icon{
    margin: 12px 0 0 12px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1977cc;
    color: #fff;
}
.service-card h2{
    font-size: 20px;
}
.service-card p{
    margin-top: 0;
    font-size: 20px;
}
.service-card:hover{
    background-color: #1977cc;
    transition: 1s ease;
}
.service-card:hover .service-icon-box{
    background-color: #0dcaf0;
}
.service-card:hover .service-icon{
    background-color: #fff;
    color: #1977cc;
}
