.footer{
    margin: 0 150px;
}

.footer-flex{
    display: flex;
    margin-top: 50px;
}

.footer-flex h2{
    font-size: 16px;
}

.footer-links{
    list-style: none;
}
.footer-links li{
    width: 210px;   
    cursor: pointer; 
}
.footer-links li:hover{
    color: #1977cc;
}
.links-newsletter{
    display: flex;
    margin-top: 20px;
}
.newsletter-form {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .newsletter-form input[type="email"] {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-right: none; 
    border-radius: 5px 0 0 5px; 
    font-size: 16px;
    width: 300px;
    transition: border 0.3s ease;
  }
  
  .newsletter-form input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .newsletter-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: 2px solid #007BFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .newsletter-form input[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }

.copyright-bg{
    background: #f1f7fd;
}

.copyright-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.footer-social-icons{
    display: flex;
    gap: 5px;
}

.socio-icon{
    background: #1977cc;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.socio-icon:hover{
    background: #1977cc;
}

@media (max-width: 768px){
    .footer{
        margin: 0 20px;
    }
    .footer-flex{
        flex-direction: column;
    }
    .footer-links li{
        width: 100%;
        margin-bottom: 10px;
    }
    .links-newsletter{
        flex-direction: column;
    }
    .newsletter-form {
        margin-bottom: 10px;
    }
    .copyright-content{
        flex-direction: column;
        padding: 0 20px;
    }
    .rights-reserved{
        display: flex;
        flex-direction: column;
    }

}